body {
    text-align: center;
    background-color: rgb(219, 249, 250);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: blue;
    text-align: center;
   
    
}
table{
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    font-size: larger;
}
#img{
    margin: auto;
    
}
#image{
    width: 200px;
    height: 700px;
    border: 2px solid black;
   
    padding: 10px;
    position: absolute;
    margin-left: 0px;
    top: 10px;
}
#image2{
     
    position: absolute;
    padding: 10px;
    margin-left: 0px;
    top: 150px;
}
#form{
    position: absolute;
   
    display: block;
    text-align: center;
    margin-left: 670px;
    margin-right: auto;
}
